* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
}

.footer,
.header,
.navbar {
    color: #ffffff;
    background-color: #1f2937;
}

.navbar {
    height: 50px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navbar .logo {
    font-size: 24px;
    font-weight: 900;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 24px;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
}

.header {
    height: 380px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 450px;
    height: 200px;
    background-color: gray;
    object-fit: cover;
}

.container .intro {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
}

button {
    color: #ffffff;
    background-color: #3882f6;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 28px;
    border-radius: 8px;
    box-shadow: none;
    border: 0;
}


.credit {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}


.credit p a {
    text-decoration: none;
    color:#3882f6;
}

.section {
    height: 400px;
}

.section .container {
    flex-direction: column;
    justify-content: flex-start;

}

.information {
    display: flex;
    justify-content: center;
    gap: 55px;
}


h3 {
    font-size: 36px;
    margin: 40px;
}

.content {
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.image {
    width: 150px;
    height: 150px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 12px;
    margin-bottom: 8px;
}

.quote {
    height: 400px;
    background-color: #e5e7eb;
}

.quote .container {
    width: 900px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    flex-direction: column;
    justify-content: center;
}


.quote .container .author {
    align-self: flex-end;
    margin-top: 10px;
    padding-right: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    
}

.call-to-action {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .container {
    width: 1100px;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    height: 140px;
    padding: 0;
    border-radius: 8px;
}

.action {
    font-size: 20px;
    font-weight: 900;
}

.second {
    border: 2px solid #ffffff;
}

.footer .container {
    font-size: medium;
    justify-content: center;
    height: 80px;
}